<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mikhael's Portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" /> 
         
        
        <!-- Update these with your own fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="../static/css/style1.css">

    </head>
    <body>
        <header>
            
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">My Work</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Introduction -->
        <section class="intro" id="home">
            <h1 class="section__title section__title--intro">
                Hi, I am <strong>Mikhael Uzagare</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">Software Engineering Student</p>
            <img src="img/dev-jane-01.jpg" alt="a picture of Jane Smith smiling" class="intro__img">
        </section>
        
        
        <!-- My services -->
        <section class="my-services" id="services">
            <h2 class="section__title section__title--services">What I do</h2>
            <div class="services">
                <div class="service">
                    <h3>Development</h3>
                    <p>From developing minimalistic ground level projects to creating better and more efficient softwares is what I try to achieve day in and day out. The process of learning the client's need to replicating it into a project, is a task that I will happily accept.</p>
                </div> <!-- / service -->
                
                <div class="service">
                    <h3>Design</h3>
                    <p>Creative thinking, being a born talent or a learnt process, is what makes you different from the crowd. I promise to provide you with the most creative ideas, that will bring the most out of your demands and projects</p>
                </div> <!-- / service -->
                
                <div class="service">
                    <h3>Management</h3>
                    <p>Being in an generation where time is practically money, to get your things in a designated time frame is of utmost importance. The main focus is to complete the client's projects with topmost priority and provide them the results within the time frame.</p>
                </div> <!-- / service -->
            </div> <!-- / services -->
            
            <a href="#work" class="btn">My Work</a>
        </section>
        
        
        <!-- About me -->
        <section class="about-me" id="about">
           <h2 class="section__title section__title--about">Who I am</h2>
           <p class="section__subtitle section__subtitle--about">A software developer in the making
           </p>
           
           <div class="about-me__body">
               <p>A software developer in the making, still making my way through college, currently completing my degree in Information and Technology. Being and enthusiast of how the world of technology works, this path has helped me gain knowledge far greater than my expectations. Being fluent in Python is my first prioritize skillset on the list right now. However, I plan to master other such languages that helps to bring about a change in the way we present our ideas.
                </p>
               <p>Programming is my hobby, this is what drives me to excellence. To develop my creative ideas into a reality that others can use. The upcoming challenge strive me to be a better version of myself daily, with a vision far beyond, but still very clear to me. I have come to learn way more greater things than formal education has rarely taught me and I plan to use the skills I have to continue doing what I love.</p>
           </div>
           
           <img src="img/dev-jane-02.jpg" alt="Mikhael in the photo" class="about-me__img">
        </section>
        
        <!-- My Work -->
        <section class="my-work" id="work">
            <h2 class="section__title section__title--work">My work</h2>
            <p class="section__subtitle section__subtitle--work">A selection of my range of work</p>
            
            <div class="portfolio">
                <!-- Portfolio item 01 -->
                <a href="portfolio-item.html" class="portfolio__item">
                    <img src="img/portfolio-01.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 02 -->
                <a href="portfolio-item2.html" class="portfolio__item">
                    <img src="img/portfolio-02.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 03 -->
                <a href="portfolio-item3.html" class="portfolio__item">
                    <img src="img/portfolio-03.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 04 -->
                <a href="portfolio-item4.html" class="portfolio__item">
                    <img src="img/portfolio-04.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 05 -->
                <a href="portfolio-item.html" class="portfolio__item">
                    <img src="img/portfolio-05.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 06 -->
                <a href="portfolio-item.html" class="portfolio__item">
                    <img src="img/portfolio-06.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 07 -->
                <a href="portfolio-item.html" class="portfolio__item">
                    <img src="img/portfolio-07.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 08 -->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-08.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 09 -->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-09.jpg" alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 0 0-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-10.jpg" alt="" class="portfolio__img">
                </a>
            </div>
        </section>
        
        
        <!-- Footer -->
        <footer class="footer">
            <!-- replace with your own email address -->
            <a href="mailto:mikhaelangel2001@gmail.com" class="footer__link">hello@mickey.dev</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/mikhael-uzagare-5829071b3/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.instagram.com/soul.cravings_/?hl=en">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/Mikhael-2001">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </footer>
        
        
        <script src="../static/javascript/index1.js"></script>
        
    </body>
</html>