<!doctype html>
<html lang='en'>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles2.css') }}">
		<meta name="summer project" content="width=device-width, initial-scale=1">
		<link href="../static/images/logo.png" rel="icon" sizes="32x32" type="image/png">
	 	<title>StarKonnect | Login</title>
	
	</head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
	
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
            <div class="alert alert-warning" id="alertmessage">
                <button type="button" class="close" onclick="close_flash_message()">x</button>
				{{ message }}
            </div>
               {% endfor %}  
         {% endif %}  
      {% endwith %}
<script>
function close_flash_message(){  
    document.all.alertmessage.style.display='none';
    return false;  
}
</script>
<div class = "bg-img"></div>
<div class="form-structor">
	<form action="http://localhost:5000/verify" method="POST" class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder" > 
			<input type="text" class="input" placeholder="Name" id="name" name="name" />
			<input type="email" class="input" placeholder="Email" id ="email" name="email"/>
			<input type="password" class="input" placeholder="Password" id ="password" name="password"/>
			<meter max="4" id="password-strength-meter"></meter>
			<p id="password-strength-text"></p>
		</div>
		<button class="submit-btn">Sign up</button>
	</form>
	<div class="login slide-up">
		<form class="center" action="http://localhost:5000/userlogin" method="POST">
			<h2 class="form-title" id="login"><span>or</span>Login</h2>
			<div class="form-holder">
				<input type="email" class="input" placeholder="Email" id="email" name="loginemail"/>
				<input type="password" class="input" placeholder="Password" id="password" name="loginpass"/>
			</div>
			<button class="submit-btn">Login</button>
		</form>
	</div>
</div>
<div class = "bg-text">
	<img src="../static/images/logo.png" width="60px" height="60px"/>StarKonnect
</div>
<script type="text/javascript" src="{{ url_for('static',filename='javascript/logic.js') }}"></script>
</body>
</html>
